@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
  font-family: "Libre Baskerville", serif;
}
.head{
  font-family: "Allura", serif;
}
.menu{
  font-family: "Questrial", serif;
}
.seaHeading{
  font-family: "Arizonia", serif;
}
.sea{
  font-family: "Monsieur La Doulaise", serif;
}
.paragraph{
  font-family: "Style Script", serif;
}

.about{
  font-family: "EB Garamond", serif;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}


